@import "tailwindcss";

@theme {
  --color-main: #0a66c2;
  --color-secondary: #2a2d3e;
  --color-accent: #2f855a;
  --color-black: #151515;
  --color-gray: #f6f3f4;
  --color-white: #fafafa;

  --heading: "Roboto Flex", sans-serif;
  --title: "Open Sans", sans-serif;
  --paragraph: "EB Garamond", sans-serif;
}

@layer utilities {
  .custom-scroll::-webkit-scrollbar {
    height: 5px;
  }
  .custom-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }
  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* SIMILAR CSS */
* {
  outline: none;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  width: 900px;
  max-width: 90%;
  padding: 5rem 0;
}
h1 {
  color: var(--color-main);
  font-size: 3rem;
  font-weight: 700;
}
h2 {
  color: var(--color-secondary);
  font-size: 2rem;
  font-weight: 500;
  margin: 0 0 0.5rem 0;
}
a,
button {
  cursor: pointer;
}
input {
  outline: none;
}
button {
  display: inline-block;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  color: var(--color-main) !important;
  font-size: 2rem !important;
}
.swiper-pagination-bullet {
  width: 5px !important;
  height: 5px !important;
}
.swiper-pagination-bullet-active {
  background-color: var(--color-main) !important;
}

/* SIMILAR CSS BREAKPOINTS */
@media (max-width: 768px) {
  article {
    gap: 1rem;
    padding: 4rem 0;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
  }
}
@media (max-width: 576px) {
  article {
    gap: 0.5rem;
    padding: 3rem 0;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
    margin: 0 0 0.25rem 0;
  }
}

/* CUSTOM CSS */
.main-nav {
  @apply fixed top-0 left-0 w-full flex justify-between items-center md:py-8 md:px-10 min-[576px]:py-6 min-[576px]:px-8 py-4 px-6 z-10;
}
.underline-hover {
  @apply relative after:content-[''] after:absolute after:top-0 after:-bottom-1 after:left-0 after:right-0 after:border-b-2 after:scale-x-0 after:transition after:duration-200 hover:after:scale-x-[0.5] md:text-base min-[576px]:text-sm text-xs;
}
.normal-btn {
  @apply inline-block bg-main font-medium text-white md:text-base min-[576px]:text-sm text-xs md:mt-6 min-[576px]:mt-4 mt-2 md:py-3 py-2 md:px-5 min-[576px]:px-4 px-3 border-2 border-main rounded-[10px] hover:bg-transparent hover:text-main;
}
